# Q1. a python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#import require libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#open webpage https://www.naukri.com/
url = " https://www.naukri.com/"
driver.get(url)

In [6]:
from selenium .webdriver.common.by import By

In [17]:
search_loaction=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input') 
search_loaction

In [10]:
#searching job title Data Analyst
search_job.send_keys("Data Analyst")

In [19]:
search_field_loaction=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input') 
search_field_loaction.send_keys("Bangalore")

In [20]:
search_button=driver.find_element(By.XPATH,"/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [21]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [22]:
titles_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="1b653dbd-500d-4fd9-a759-1c94001bb421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="53c35ec2-bf36-48fb-893e-94d60b50f588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="5c9bb3a2-6fd6-4f51-b518-c02df130094f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="7d593810-7f2c-4df2-8e36-c3333b6b2557")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="448985c1-ec80-40a2-afff-7e4e3450f70e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="407ceb2c-9e86-48d4-94cb-9ca9daa797c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="3d062f37-2eff-4e92-b02c-fcd07cc724e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="7081ce4a-dad3-4bcd-8d30-089fac3a2273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="e371be7f-5bc4-4006-9a50-502d65895bec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="878b3db4-a49d-4c36-89d7-d0ac316944ca")>]

In [23]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II']

In [26]:
companies_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="bc82bdf7-710d-436e-a962-fd5a4e896e9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="b66cc83b-e8e3-4579-b9af-ff43cb041bed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="9330bfca-582b-41f7-bc8e-f968ca3f5886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="27cbcbb4-38e2-4c16-926f-5d06664892cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="744e7cc6-7419-4cb5-aa24-6836e83722f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="af9e705f-49b1-4cd9-b6b7-2d167d99d924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="748e413e-881d-4065-80c2-0d5f869e2d84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="c432ddf4-d986-424c-bebd-335c968643cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="e30843f8-a0dc-4184-bd8c-8471c3c1f535")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="0a4d2848-c96e-423e-a34a-8d6ea5173ddd")>]

In [27]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Optum',
 'Optum',
 'Thomson Reuters',
 'KrazyBee',
 'Nuance India',
 'Cerner']

In [28]:
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="b2ff0b2d-a8ec-4789-8131-45d0ee586634")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="5eaf291d-5ef5-42d5-8db0-b5ca72fd60e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="15652d63-f022-4426-aa89-06f3419579f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="c2eed016-da4a-4c2a-becb-a8b291f91b3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="71c69bab-6e98-4ba6-92cf-6096a32e6e06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="66e23609-34ee-40f7-a0f4-6183e2d993b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="c6006550-2ec2-4711-b0b6-7bbb9657b8d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="80d6bc42-d678-4e8b-9290-1d926be58202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="499b587d-7563-4dca-8463-4e0022303cf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="06b1c294-d97f-499c-ae30-e31ba84723fe")>]

In [29]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs']

In [31]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="0d59a4d0-5311-465d-8bb6-0b2902b88806")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="fa15928e-e399-4527-bc37-c1f71ef86af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="58f553f6-c628-4b90-a637-3ee729b172cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="c2824efc-7df3-42e6-9ec2-11411ff9601f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="b0e25f16-b7ba-4c4c-a141-8f0dcc1f6504")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="461b8b2e-9cd8-476a-8b67-263f39a36408")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="cfb33759-5a8b-4f1f-b7a1-b376e1b65875")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="339f77e7-bd78-4894-b0c7-ed05b37ce398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="2f42c429-b3fb-4ecb-bca8-2afe49074a59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93aafc61840ad2f41f61521686fcd294", element="e3f1a454-689b-40f4-a08f-bb7bd315437d")>]

In [32]:
for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru, karnataka',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [34]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_list[:10]

In [35]:
jobs

,title,company,experience_required,location
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka"
1,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
3,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad"
4,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
5,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru
6,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
8,Financial Data Analyst,Nuance India,3-8 Yrs,Bangalore/Bengaluru
9,Data Analyst II,Cerner,2-4 Yrs,Bangalore/Bengaluru

# 2.a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [145]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.naukri.com/")
time.sleep(3)

In [146]:
from selenium .webdriver.common.by import By

In [147]:
search_field_designation = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_designation.send_keys("Data Scientist")
search_location=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_location.send_keys("Banglore")
search_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [148]:
job_title=[]
job_location=[]
company=[]

In [149]:
job_tag=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
job_loc=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
comp=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
driver.close()
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company})
data

Empty DataFrame
Columns: [Job-Title, Job-Location, Company_Name]
Index: []

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakh

In [180]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.naukri.com/")
time.sleep(3)

In [181]:
from selenium .webdriver.common.by import By

In [183]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys("Data Scientist")
search_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [184]:
loc_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')
loc_filter.click()

In [185]:
sal_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
sal_filter.click()

In [186]:
job_title=[]
job_location=[]
company=[]
exp=[]

In [187]:
job_tag=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
job_loc=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
#job_location
comp=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
#company
expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)
driver.close()
#exp
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

# 4.Scrape data of first 100 sunglasses listings on flipkart.com.

In [188]:
#import require libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium .webdriver.common.by import By

In [56]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [57]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [59]:
url = "https://www.flipkart.com/"
driver.get(url)

In [61]:
# Finding element for search bar
search_g= driver.find_element(By.XPATH,"//input[@class='_3704LK']") 
search_g

In [62]:
search_g.send_keys('sunglasses')

In [63]:
search_button=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_button.click()

In [64]:
B_name=[]
Price=[]
P_desc=[]

In [65]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")

In [66]:
for j  in b_name:
        B_name.append(j.text)
B_name[:100]

['VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'SUNBEE',
 'GANSTA',
 'PIRASO',
 'SRPM',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'Lee Topper',
 'elegante',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'NuVew',
 'SHAAH COLLECTIONS',
 'elegante',
 'Sewell',
 'ROZZETTA CRAFT',
 'Mi',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'GANSTA']

In [68]:
for i in range(3): 
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")

In [69]:
for k in p_desc:
        P_desc.append(k.text)
P_desc[:100]

['by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)']

In [70]:
for i in range(3): 
    price =driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [71]:
for l in price:
        Price.append(l.text)
Price[:100]

['₹799',
 '₹949',
 '₹177',
 '₹639',
 '₹315',
 '₹259',
 '₹283',
 '₹242',
 '₹224',
 '₹224',
 '₹195',
 '₹759',
 '₹799',
 '₹224',
 '₹639',
 '₹379',
 '₹359',
 '₹299',
 '₹229',
 '₹499',
 '₹474',
 '₹306',
 '₹226',
 '₹616',
 '₹246',
 '₹303',
 '₹719',
 '₹664',
 '₹359',
 '₹291',
 '₹279',
 '₹499',
 '₹279',
 '₹331',
 '₹839',
 '₹749',
 '₹219',
 '₹283',
 '₹1,039',
 '₹314']

In [72]:
#So lets check th length of ech element.
print(len(B_name[:40])),print(len(Price[:40])),print(len(P_desc[:40]))

40
40
40

(None, None, None)

In [73]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:40]
sun_gl['P_price']=Price[:40]
sun_gl['Pr_desc']=P_desc[:40]

In [74]:
sun_gl

,Brand_name,P_price,Pr_desc
0,VINCENT CHASE,₹799,"by Lenskart Polarized, UV Protection Cat-eye S..."
1,VINCENT CHASE,₹949,"by Lenskart Polarized, UV Protection Round Sun..."
2,DAHAAZIL,₹177,"UV Protection, Night Vision, Riding Glasses Wa..."
3,Fastrack,₹639,UV Protection Rectangular Sunglasses (Free Size)
4,Elligator,₹315,UV Protection Round Sunglasses (54)
5,SUNBEE,₹259,"UV Protection, Polarized, Mirrored Retro Squar..."
6,SUNBEE,₹283,"UV Protection, Polarized Wayfarer Sunglasses (..."
7,GANSTA,₹242,"UV Protection, Gradient Aviator Sunglasses (57)"
8,PIRASO,₹224,UV Protection Aviator Sunglasses (54)
9,SRPM,₹224,UV Protection Wayfarer Sunglasses (50)
10,SHAAH COLLECTIONS,₹195,"UV Protection, Polarized, Mirrored Rectangular..."
11,ROYAL SON,₹759,"Polarized, UV Protection Aviator Sunglasses (57)"
12,Fastrack,₹799,UV Protection Wayfarer Sunglasses (Free Size)
13,PIRASO,₹224,UV Protection Aviator Sunglasses (54)
14,Fastrack,₹639,UV Protection Aviator Sunglasses (Free Size)
15,ROZZETTA CRAFT,₹379,UV Protection Spectacle Sunglasses (Free Size)
16,PIRASO,₹359,UV Protection Aviator Sunglasses (58)
17,Lee Topper,₹299,Riding Glasses Wrap-around Sunglasses (Free Size)
18,Lee Topper,₹229,UV Protection Cat-eye Sunglasses (Free Size)
19,elegante,₹499,"Polarized, Riding Glasses, Night Vision Sports..."
20,ROZZETTA CRAFT,₹474,"Polarized, Riding Glasses Sports, Wrap-around ..."
21,PIRASO,₹306,UV Protection Rectangular Sunglasses (52)
22,PIRASO,₹226,UV Protection Wayfarer Sunglasses (32)
23,ROYAL SON,₹616,"Polarized, UV Protection Retro Square Sunglass..."
24,PIRASO,₹246,UV Protection Aviator Sunglasses (54)
25,ROZZETTA CRAFT,₹303,UV Protection Rectangular Sunglasses (Free Size)
26,Fastrack,₹719,"Gradient, UV Protection Wayfarer Sunglasses (F..."
27,ROYAL SON,₹664,"Polarized, UV Protection Wayfarer, Retro Squar..."
28,PIRASO,₹359,UV Protection Over-sized Sunglasses (65)
29,NuVew,₹291,UV Protection Sports Sunglasses (62)
30,SHAAH COLLECTIONS,₹279,UV Protection Round Sunglasses (Free Size)
31,elegante,₹499,"Polarized, Riding Glasses, Night Vision Sports..."
32,Sewell,₹279,"Mirrored, Night Vision, UV Protection, Riding ..."
33,ROZZETTA CRAFT,₹331,"UV Protection, Gradient Retro Square Sunglasse..."
34,Mi,₹839,Polarized Aviator Sunglasses (Free Size)
35,VINCENT CHASE,₹749,by Lenskart UV Protection Wayfarer Sunglasses ...
36,SRPM,₹219,"Others Wayfarer, Retro Square Sunglasses (50)"
37,SUNBEE,₹283,"UV Protection, Polarized, Mirrored Wayfarer Su..."
38,Fastrack,"₹1,039",UV Protection Aviator Sunglasses (58)
39,GANSTA,₹314,UV Protection Aviator Sunglasses (57)

In [75]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]
        
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100]
        
    for l in price:
        Price.append(l.text)
    Price[:100]

In [76]:
B_name[:100]

['VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'SUNBEE',
 'GANSTA',
 'PIRASO',
 'SRPM',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'Lee Topper',
 'elegante',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'NuVew',
 'SHAAH COLLECTIONS',
 'elegante',
 'Sewell',
 'ROZZETTA CRAFT',
 'Mi',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'GANSTA',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'SUNBEE',
 'GANSTA',
 'PIRASO',
 'SRPM',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'Lee Topper',
 'elegante',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'NuVew',
 'SHAAH COLLECTIONS',
 'elegante',
 'Sewell',
 'ROZZETTA CRAFT',
 'Mi',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'GANSTA',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'SUNBEE',
 'GANSTA',
 'PIRASO',
 'SRPM',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'Lee Topper',
 'elegante']

In [79]:
P_desc[:100]

['by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...']

In [80]:
Price[:100]

['₹799',
 '₹949',
 '₹177',
 '₹639',
 '₹315',
 '₹259',
 '₹283',
 '₹242',
 '₹224',
 '₹224',
 '₹195',
 '₹759',
 '₹799',
 '₹224',
 '₹639',
 '₹379',
 '₹359',
 '₹299',
 '₹229',
 '₹499',
 '₹474',
 '₹306',
 '₹226',
 '₹616',
 '₹246',
 '₹303',
 '₹719',
 '₹664',
 '₹359',
 '₹291',
 '₹279',
 '₹499',
 '₹279',
 '₹331',
 '₹839',
 '₹749',
 '₹219',
 '₹283',
 '₹1,039',
 '₹314',
 '₹799',
 '₹949',
 '₹177',
 '₹639',
 '₹315',
 '₹259',
 '₹283',
 '₹242',
 '₹224',
 '₹224',
 '₹195',
 '₹759',
 '₹799',
 '₹224',
 '₹639',
 '₹379',
 '₹359',
 '₹299',
 '₹229',
 '₹499',
 '₹474',
 '₹306',
 '₹226',
 '₹616',
 '₹246',
 '₹303',
 '₹719',
 '₹664',
 '₹359',
 '₹291',
 '₹279',
 '₹499',
 '₹279',
 '₹331',
 '₹839',
 '₹749',
 '₹219',
 '₹283',
 '₹1,039',
 '₹314',
 '₹799',
 '₹949',
 '₹177',
 '₹639',
 '₹315',
 '₹259',
 '₹283',
 '₹242',
 '₹224',
 '₹224',
 '₹195',
 '₹759',
 '₹799',
 '₹224',
 '₹639',
 '₹379',
 '₹359',
 '₹299',
 '₹229',
 '₹499']

In [81]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]

In [82]:
sun_gl

        Brand_name P_price                                            Pr_desc
0    VINCENT CHASE    ₹799  by Lenskart Polarized, UV Protection Cat-eye S...
1    VINCENT CHASE    ₹949  by Lenskart Polarized, UV Protection Round Sun...
2         DAHAAZIL    ₹177  UV Protection, Night Vision, Riding Glasses Wa...
3         Fastrack    ₹639   UV Protection Rectangular Sunglasses (Free Size)
4        Elligator    ₹315                UV Protection Round Sunglasses (54)
..             ...     ...                                                ...
95  ROZZETTA CRAFT    ₹379     UV Protection Spectacle Sunglasses (Free Size)
96          PIRASO    ₹359              UV Protection Aviator Sunglasses (58)
97      Lee Topper    ₹299  Riding Glasses Wrap-around Sunglasses (Free Size)
98      Lee Topper    ₹229       UV Protection Cat-eye Sunglasses (Free Size)
99        elegante    ₹499  Polarized, Riding Glasses, Night Vision Sports...

[100 rows x 3 columns]

# 5. Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [2]:
url7 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes%02earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace'

driver.get(url7)

NameError: name 'driver' is not defined

# 6.Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [43]:
# import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time
from selenium .webdriver.common.by import By

In [44]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [45]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [46]:
driver.get('https://www.flipkart.com/')

In [47]:
search_g= driver.find_element(By.XPATH,"//input[@class='_3704LK']") 
search_g

In [48]:
search_g.send_keys('sneakers')

In [49]:
search_button=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_button.click()

In [50]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [51]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [52]:
B_name[:100]

['Sumohan',
 'ZF - ALFIYA',
 'WOODLAND',
 'BRUTON',
 'SFR',
 'BRUTON',
 'Labbin',
 'World Wear Footwear',
 'URBANBOX',
 'Magnolia',
 'aadi',
 'luxury fashion',
 'BIRDE',
 'PUMA',
 'BIRDE',
 'HOTSTYLE',
 'ONECENTRE',
 'PUMA',
 'Chevit',
 'kardam&sons',
 'KWIK FIT',
 'HOTSTYLE',
 'corsac',
 'Kirjak',
 'ASTEROID',
 'aadi',
 'CLYMB',
 'luxury fashion',
 'BIRDE',
 'BRUTON',
 'Noztile',
 'Nilatin',
 'Kraasa',
 'PUMA',
 'SCATCHITE',
 'HOTSTYLE',
 'Dizzler',
 'Kraasa',
 'PEXLO',
 'HOTSTYLE',
 'Sumohan',
 'ZF - ALFIYA',
 'WOODLAND',
 'BRUTON',
 'SFR',
 'BRUTON',
 'Labbin',
 'World Wear Footwear',
 'URBANBOX',
 'Magnolia',
 'aadi',
 'luxury fashion',
 'BIRDE',
 'PUMA',
 'BIRDE',
 'HOTSTYLE',
 'ONECENTRE',
 'PUMA',
 'Chevit',
 'kardam&sons',
 'KWIK FIT',
 'HOTSTYLE',
 'corsac',
 'Kirjak',
 'ASTEROID',
 'aadi',
 'CLYMB',
 'luxury fashion',
 'BIRDE',
 'BRUTON',
 'Noztile',
 'Nilatin',
 'Kraasa',
 'PUMA',
 'SCATCHITE',
 'HOTSTYLE',
 'Dizzler',
 'Kraasa',
 'PEXLO',
 'HOTSTYLE',
 'Sumohan',
 'ZF - ALFIYA',
 'WOODLAND',
 'BRUTON',
 'SFR',
 'BRUTON',
 'Labbin',
 'World Wear Footwear',
 'URBANBOX',
 'Magnolia',
 'aadi',
 'luxury fashion',
 'BIRDE',
 'PUMA',
 'BIRDE',
 'HOTSTYLE',
 'ONECENTRE',
 'PUMA',
 'Chevit',
 'kardam&sons']

In [53]:
P_desc[:100]

['Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Smash v2 L Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'CR-1 Sneakers For Men',
 'STR2 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Fashionable Canvas Casual Partywear Outdoor Sneakers Bl...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Mike Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Smash v2 L Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'CR-1 Sneakers For Men',
 'STR2 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Fashionable Canvas Casual Partywear Outdoor Sneakers Bl...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Mike Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Smash v2 L Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'CR-1 Sneakers For Men',
 'STR2 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Fashionable Canvas Casual Partywear Outdoor Sneakers Bl...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneaker Sneakers For Men',
 'Sneakers For Men']

In [54]:
Price[:100]

['₹499',
 '₹449',
 '₹2,096',
 '₹284',
 '₹289',
 '₹299',
 '₹499',
 '₹296',
 '₹219',
 '₹449',
 '₹319',
 '₹379',
 '₹398',
 '₹2,201',
 '₹442',
 '₹295',
 '₹299',
 '₹1,763',
 '₹649',
 '₹399',
 '₹397',
 '₹284',
 '₹499',
 '₹490',
 '₹474',
 '₹299',
 '₹579',
 '₹428',
 '₹398',
 '₹284',
 '₹414',
 '₹539',
 '₹479',
 '₹2,090',
 '₹399',
 '₹295',
 '₹435',
 '₹479',
 '₹707',
 '₹375',
 '₹499',
 '₹449',
 '₹2,096',
 '₹284',
 '₹289',
 '₹299',
 '₹499',
 '₹296',
 '₹219',
 '₹449',
 '₹319',
 '₹379',
 '₹398',
 '₹2,201',
 '₹442',
 '₹295',
 '₹299',
 '₹1,763',
 '₹649',
 '₹399',
 '₹397',
 '₹284',
 '₹499',
 '₹490',
 '₹474',
 '₹299',
 '₹579',
 '₹428',
 '₹398',
 '₹284',
 '₹414',
 '₹539',
 '₹479',
 '₹2,090',
 '₹399',
 '₹295',
 '₹435',
 '₹479',
 '₹707',
 '₹375',
 '₹499',
 '₹449',
 '₹2,096',
 '₹284',
 '₹289',
 '₹299',
 '₹499',
 '₹296',
 '₹219',
 '₹449',
 '₹319',
 '₹379',
 '₹398',
 '₹2,201',
 '₹442',
 '₹295',
 '₹299',
 '₹1,763',
 '₹649',
 '₹399']

In [55]:
Discount[:100]

['50% off',
 '55% off',
 '30% off',
 '78% off',
 '71% off',
 '76% off',
 '50% off',
 '40% off',
 '78% off',
 '55% off',
 '68% off',
 '87% off',
 '60% off',
 '37% off',
 '55% off',
 '40% off',
 '51% off',
 '49% off',
 '65% off',
 '80% off',
 '80% off',
 '71% off',
 '66% off',
 '75% off',
 '76% off',
 '70% off',
 '61% off',
 '67% off',
 '60% off',
 '78% off',
 '79% off',
 '82% off',
 '52% off',
 '40% off',
 '60% off',
 '40% off',
 '39% off',
 '52% off',
 '52% off',
 '24% off',
 '50% off',
 '55% off',
 '30% off',
 '78% off',
 '71% off',
 '76% off',
 '50% off',
 '40% off',
 '78% off',
 '55% off',
 '68% off',
 '87% off',
 '60% off',
 '37% off',
 '55% off',
 '40% off',
 '51% off',
 '49% off',
 '65% off',
 '80% off',
 '80% off',
 '71% off',
 '66% off',
 '75% off',
 '76% off',
 '70% off',
 '61% off',
 '67% off',
 '60% off',
 '78% off',
 '79% off',
 '82% off',
 '52% off',
 '40% off',
 '60% off',
 '40% off',
 '39% off',
 '52% off',
 '52% off',
 '24% off',
 '50% off',
 '55% off',
 '30% off',
 '78% off',
 '71% off',
 '76% off',
 '50% off',
 '40% off',
 '78% off',
 '55% off',
 '68% off',
 '87% off',
 '60% off',
 '37% off',
 '55% off',
 '40% off',
 '51% off',
 '49% off',
 '65% off',
 '80% off']

In [56]:
#Import pandas as pd
sneakers=pd.DataFrame({})
sneakers['Brand_name']=B_name[:100]
sneakers['P_price']=Price[:100]
sneakers['Pr_desc']=P_desc[:100]

In [57]:
sneakers

     Brand_name P_price                                            Pr_desc
0       Sumohan    ₹499                                   Sneakers For Men
1   ZF - ALFIYA    ₹449                                   Sneakers For Men
2      WOODLAND  ₹2,096      Modern Trendy Sneakers Shoes Sneakers For Men
3        BRUTON    ₹284                                   Sneakers For Men
4           SFR    ₹289      Modern Trendy Sneakers Shoes Sneakers For Men
..          ...     ...                                                ...
95     HOTSTYLE    ₹295                                   Sneakers For Men
96    ONECENTRE    ₹299   Luxury Fashionable casual shoes Sneakers For Men
97         PUMA  ₹1,763  Stylish Comfortable Lightweight, Breathable Ca...
98       Chevit    ₹649                           Sneaker Sneakers For Men
99  kardam&sons    ₹399                                   Sneakers For Men

[100 rows x 3 columns]

# 7 Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.myntra.com/shoes")
from selenium .webdriver.common.by import By

In [153]:
price_band=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_band.click()

In [154]:
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()
time.sleep(2)

In [155]:
brand=[]
price=[]
short_dis=[]
def Shoe_scrap():
    br=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in br:
        brand.append(i.text)
    pr=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in pr:
        short_dis.append(i.text)
    sd=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in sd:
        price.append(i.text)
Shoe_scrap()
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a').click()
time.sleep(3)
Shoe_scrap()
print(len(brand),len(price),len(short_dis))
#class="pagination-number"
Shoe=pd.DataFrame({'Brand':brand,'Prodcut Discription':short_dis,'Price':price})
Shoe

100 100 100

        Brand               Prodcut Discription                        Price
0        Nike      Men React Infinity 3 Running  Rs. 11196Rs. 13995(20% OFF)
1        Nike        Men KD 15 Basketball Shoes  Rs. 12595Rs. 13995(10% OFF)
2        Nike       Men SRG 3 FK Training Shoes    Rs. 8005Rs. 8895(10% OFF)
3        Nike    Women React MR 3 Running Shoes   Rs. 8396Rs. 10495(20% OFF)
4        Puma      Eternity Nitro Running Shoes   Rs. 9749Rs. 12999(25% OFF)
..        ...                               ...                          ...
95     Clarks   Men Solid Formal Leather Derbys    Rs. 7899Rs. 9999(21% OFF)
96  Cole Haan    Women Solid Leather Ballerinas   Rs. 9799Rs. 13999(30% OFF)
97   DAVINCHI       Men Formal Leather Slip-Ons                     Rs. 8990
98       ECCO            Leather Stiletto Pumps                    Rs. 12999
99  J.FONTINI  Men Solid Leather Formal Loafers                     Rs. 9990

[100 rows x 3 columns]

In [156]:
driver.close()

# Q8.Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time
from selenium .webdriver.common.by import By

In [6]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [7]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [8]:
url="https://www.amazon.in/"
driver.get(url)

In [9]:
driver.maximize_window()

In [10]:
search_col=driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
search_col.send_keys('laptop')

In [11]:
search_button=driver.find_elements(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")

In [12]:
search_button[1].click()

In [13]:
title_el=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)
title

['HP 15- AMD Ryzen 3-3250U 15.6 inch(39.6 cm) FHD,Micro-Edge, Thin & Light Laptop (8 GB RAM/1TB HDD + 256GB SSD/ AMD Radeon™ Graphics/ Win11/MS Office/1.74 kg (15s-gr0012AU)',
 'HP 15s 12thGen IntelCore i5 8GB RAM/512GB SSD 15.6inch(39.6cm) FHD,Anti-Glare,Micro-Edge Display/Intel Iris Xe Graphics/Dual Speakers/Win 11/Alexa Built-in/MSO 2021/1.69kg, 15s-fq5009TU Natural Silver',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 '(Renewed) Dell Latitude Laptop E3380 Touch Screen Intel Core i5 - 7200u Processor 7th Gen, 4 GB Ram & 128 GB SSD, 13.3 Inches (Ultra Slim) Notebook Computer',
 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN',
 'Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 15.6" FHD IPS Thin, Light Laptop (8GB/1TB HDD+256GB SSD/Windows10/Office19/MX450 2GB GDDR6/Fingerprint/Graphite Grey/Aluminium Surface/1.66Kg) 82FG00BPIN',
 'Dell Inspiron 3593 Intel 10th Gen Ci5-1035G1 15.6 Inches Laptop (8GB/1TB HDD + 256GB SSD/Windows 10 Home /NVIDIA 2GBMX 230 Graphics, Platinum Silver)',
 'HP 14 10th Gen Intel Core i3 14 inches FHD Screen Laptop with 4G (LTE), 8GB RAM, 1TB HDD, Windows 10, MS Office, 1.46kg, 14s-er0004TU',
 "Dell New Inspiron 3525 Laptop, AMD Athlon Silver 3050U, Windows 11 + Office'21, 8Gb Gddr4, 256Gb Ssd, Radeon Graphics, 15.6 Inches (39.62Cms) Hd Anti Glare (D560766Win9Be, 1.68Kgs)",
 "Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN"]

In [14]:
price_el=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
price=[]
for i in price_el[:10]:
    price.append(i.text)
price

['38,999',
 '54,290',
 '25,990',
 '25,990',
 '28,980',
 '25,253',
 '71,200',
 '68,000',
 '53,000',
 '29,490']

In [15]:
url2=driver.find_elements(By.XPATH,"//a[@class='a-link-normal a-text-normal']")

rating1_url=[]
for i in url2[:10]:
    rating1_url.append(i.get_attribute('href'))
rating1_url

['https://aax-eu.amazon.in/x/c/QqQVScmoEDrMqguTeVdgcNQAAAGB-rSpUQMAAAH2AUdd9Vc/https://www.amazon.in/dp/B09QQN2M4G?pd_rd_i=B09QQN2M4G&pf_rd_p=d882f7bc-c7c5-4887-b939-1af6f91cc448&pf_rd_r=H5K5CJT0FCQ4NND6VZ2W&pd_rd_wg=DqEXB&pd_rd_w=yE6eV&pd_rd_r=fdab9376-bac5-42a1-a281-121bcf035e80',
 'https://aax-eu.amazon.in/x/c/QtrwHPqnt4E3uvBG3dGe8VYAAAGB-rSpawMAAAH2AbhjdeY/https://www.amazon.in/dp/B09WN8FF5T?pd_rd_i=B09WN8FF5T&pf_rd_p=b0aedc9a-bc0f-46ba-b960-f9f1507d9a7f&pf_rd_r=H5K5CJT0FCQ4NND6VZ2W&pd_rd_wg=HyGGx&pd_rd_w=oQ2x0&pd_rd_r=537afecb-2d4f-4c50-bfcd-d9a5448961c7']

In [31]:
import time
rating1=[]
for i in rating1_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating1.append(ratings)
    except:
        
        
        rating1.append("00")
rating1

['4.0', '4.3']

In [20]:
len(price)

10

In [21]:
len(title)

10

In [23]:
import pandas as pd
laptop_df=pd.DataFrame()

In [24]:
laptop_df['INDEX']=range(1,11)

In [25]:
laptop_df['TITLE']=title[:10]

In [26]:
laptop_df['PRICE']=price[:10]

In [33]:
laptop_df['rating']=rating[:10]

NameError: name 'rating' is not defined

In [34]:
laptop_df.set_index('INDEX',inplace=True)
laptop_df

                                                   TITLE   PRICE
INDEX
1      HP 15- AMD Ryzen 3-3250U 15.6 inch(39.6 cm) FH...  38,999
2      HP 15s 12thGen IntelCore i5 8GB RAM/512GB SSD ...  54,290
3      ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  25,990
4      (Renewed) Dell Latitude Laptop E3380 Touch Scr...  25,990
5      Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...  28,980
6      Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 ...  25,253
7      Dell Inspiron 3593 Intel 10th Gen Ci5-1035G1 1...  71,200
8      HP 14 10th Gen Intel Core i3 14 inches FHD Scr...  68,000
9      Dell New Inspiron 3525 Laptop, AMD Athlon Silv...  53,000
10     Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  29,490

# 9. Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location.

In [35]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time
from selenium .webdriver.common.by import By

In [36]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [39]:
driver.get('https://www.ambitionbox.com/')

In [41]:
# Finding element for job search bar
search_g= driver.find_element(By.XPATH,"//a[@class='link jobs']") 
search_g

In [42]:
# write on search bar
search_g.send_keys('jobs')

In [43]:
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
search_button.click()

In [44]:
search_field_designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")

In [45]:
search_field_designation

In [46]:
search_field_designation.send_keys("Data Scientist")

In [47]:
search_button=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [48]:
search_button=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_button.click()

In [49]:
select_button=driver.find_element(By.XPATH,"//label[@class='radio-label']")
select_button

In [50]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [51]:
# lets extract all the tags having the job-titles
titles_tags=driver.find_elements(By.XPATH,"//a[@class='title noclick']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="abe5bf9e-4922-4e09-b1cf-18e60d13856a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="43fd7a75-36c8-4e1b-a0de-4483219c25be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="f4508903-dc36-4e31-871b-f0a730343bfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="66607c0b-6849-4d76-86a7-afde4b934365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="5c506f08-228d-429c-8075-691c38931332")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="ec0986dd-21cb-43be-949a-4e6da75562fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="25c25dd5-44fe-4064-831e-1b7444de6d39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="fa8281ea-7fcc-499c-9eb3-bba8ec3952fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="cfb1519a-4e14-485d-aae4-77cdbe502465")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="bcc126f0-c0bb-4483-999a-da458323e9a4")>]

In [52]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist: Artificial Intelligence',
 'Data Scientist: Advanced Analytics',
 'Principal - Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [53]:
#lets extract all the tags having the company names
companies_tags=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="560e89f5-f37d-48ea-96fc-7965178493d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="4d43a554-2e76-48f6-a677-73b2954b5a89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="6e28c8a2-4a39-4cf0-ba4a-942cc1054fac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="5dc8c57c-c057-4453-9c9d-b70bc04eea24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="e97ee9fa-b08c-4a70-af2b-17252dcd82ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="09baf318-8a1e-405c-bc1c-b6ad63483b11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="4a5f45ab-9894-43d5-b083-8d57a479dfa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="d4cc4563-e2e8-4a5f-8115-333b2bb1715f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="ded0f188-d8f4-4155-a372-df6c1c6b143c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="08be54a9-613b-46de-90d7-c176f2af6530")>]

In [54]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Schneider Electric India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [57]:
#  lets extract all the tags having the experience required data
experience_tags=driver.find_elements(By.XPATH,"//p[@class='body-small-l']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="3bf0c1af-9ee1-42fb-8229-d0c74136fb19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="680e6a87-4b1d-4a27-9476-091c55d7b1e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="0629cd97-a22f-4bab-9094-27f723b982a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="a2a844dc-1163-4f98-8096-416916335c70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="69c2a368-9f42-4270-a0fe-9d1bc73edfd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="c960eed1-928f-4fe4-89da-0fd1d2d7a7fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="5e2cebaa-ccb1-4595-a210-25ec6c99c911")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="82df5657-078b-41ed-a0e4-6f35e18a7e85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="97f6f36b-9bb4-4dc5-94a9-bac6c566d8fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b73617da9763a4f718a9bce1f712c17", element="e9d12720-a365-4124-bf7d-7027906772bd")>]

In [58]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['3-7 years',
 'Not Disclosed',
 'Gurgaon/Gurugram',
 '3-7 Yrs',
 'Not Disclosed',
 'Gurgaon/Gurugram',
 'open source, product development, enterprise applications +2 more',
 '5-10 Yrs',
 'Not Disclosed',
 'Gurgaon/Gurugram']

In [59]:
#Import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]

In [60]:
jobs

,title,company,experience_required
0,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,3-7 years
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Not Disclosed
2,Principal - Data Scientist,Schneider Electric India Pvt. Ltd.,Gurgaon/Gurugram
3,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,3-7 Yrs
4,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,Not Disclosed
5,Senior Data Scientist,Walmart Labs,Gurgaon/Gurugram
6,Data Scientist,Shell India Markets Private Limited,"open source, product development, enterprise a..."
7,Data Scientist,IBM India Pvt. Limited,5-10 Yrs
8,Data Scientist,IBM India Pvt. Limited,Not Disclosed
9,Data Scientist,IBM India Pvt. Limited,Gurgaon/Gurugram

# 10.a python program to scrape the salary data for Data Scientist designation.

In [174]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.ambitionbox.com/")
from selenium .webdriver.common.by import By

In [175]:
driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[4]').click()

In [177]:
driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')

In [178]:
ds=driver.find_elements(By.XPATH,"//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in ds:
    if i.text == 'Data Scientist':   
        i.click() # click on “Data Scientist”
        break